body{
    background-color: #B0E4CC;
}


.card{
    background-color: #408A71;
    display: block;
    padding: 30px;
    width: 300px;
    height: 200px;
    margin:  auto;
    border-radius: 50px;
    
}

h1{
    color: #285A48;
    text-align: center;
}

li, a{
    color: #091413;
}
